section
  section(data-timing=20)
    h3 Human Readable E2E Testing
    h5 JSDay Canarias 2018
    video(src="./assets/puppeteer-execution.mov" autoplay loop).height35
  section
    ol.fontx2
      li  Puppeteer
      li  Cucumber
      li  + 
  section
    h2 Daniel Ramos
    img(src="./assets/yo.jpg", alt="Mi Careto").height15
    h4
      a(href="https://github.com/DanielRamosAcosta") @DanielRamosAcosta
    h4
      div.center-center
        img(src="./assets/leanmind-logo.png", alt="").clean-img.height3
        .width1
        a(href="https://www.leanmind.es/es/") Lean Mind

  section
    .center-center
      img(src="./assets/react-logo.png", alt="React").clean-img.height10
      .width5
      img(src="./assets/redux-logo.png", alt="React").clean-img.height10

  section
    img(src="./assets/bostom-dynamics-atlas.gif", alt="Robot haciendo cosas guays").height30

  section
    img(src="./assets/robot-fail.gif", alt="Robot fallando miserablemente").height30
