section
  h3 Recursos
  ul
    li
      a(href="https://www.youtube.com/watch?v=Wapb_LIS45E") End to End Testing Single Page Apps & APIs with Cucumber.js and Puppeteer
    li Iconos de <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
    li Logos de <a href="https://seeklogo.com">Seek Logo</a>
    li Imagen del depurador de <a href="http://https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27">Debugging Node.js with Chrome DevTools</a>
    li Gifs de GIPHY

section
  h3 Conclusión

section
  h3 ¿Preguntas?

section
  h3 ¡A por el café!
  img(src="assets/coffee-time.gif" alt="")
